body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    animation: topDown 1s;
}

p {
    animation: fadeIn 1s;
}

.square{
    height: 120px;
    width: 120px;
    background: purple;
    /* transition-property: background-color, transform; */
    /* transition-duration: 300ms; */
    /* transition-delay: 200ms; */
    /* transition-timing-function: ease-in-out; */
    transition: background-color 1s 2s ease-in-out, transform 2s 1s ease-in-out;
}
.square:hover{
    background: teal;
    transform: scale(1.2);
    cursor: pointer;
}

.spinnerLoading{
    width: 96px;
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }   
    to{
        opacity: 1;
    }
}

@keyframes topDown {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}