.container {
  height: 85vh;
  display: grid;
  grid-template-columns: 150px 100px;
  grid-template-rows: 50px 150px 150px 50px;
  gap: 8px;
  grid-template-areas:
    "a a"
    "b c"
    ". c"
    "d d";

    justify-content: center;
    align-content: center;

    justify-items: center;
    align-items: center;
}

.component:nth-child(1) {
  background: red;
  /* grid-column: 1 / 3; */
  /* grid-row: 1 / 2; */
  grid-area: a;
}
.component:nth-child(2) {
  background: orange;
  /* grid-column: 1 / 2; */
  /* grid-row: 2 / 3; */
  grid-area: b;
  align-self: end;
  justify-self: end;
}
.component:nth-child(3) {
  background: teal;
  /* grid-column: 2 / 3; */
  /* grid-row: 2 / 3; */
  grid-area: c;
}
.component:nth-child(4) {
  background: peru;
  /* grid-column: 1 / 3; */
  /* grid-row: 3 / 4; */
  grid-area: d;
}
